<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>vue API</title>
		<link rel="stylesheet" href="css/productCss.css">
		</script>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div id="app" v-cloak>
			<table>
				<thead>
					<tr>
						<th>序号</th>
						<th>出售人</th>
						<th>商品名称</th>
						<th>商品描述</th>
						<th>商品价格</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="prod in productH">
						<td>{{ prod.id }}</td>
						<td>{{ prod.name }}</td>
						<td>{{ prod.pname }}</td>
						<td>{{ prod.description }}</td>
						<td>{{ prod.price }}</td>
						<td>
							<button @click="deleteTask(prod.id)">购买</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="box">
				<br />
				<p>商品名称：<input type="text" v-model="new_prod.pname"></p>
				<p>商品描述：<input type="text" v-model="new_prod.description"></p>
				<p>商品价格：<input type="number" v-model="new_prod.price"></p>
				<button @click="addTask">确认发表商品</button>
			</div>
		</div>

		<script src="js/vue.js"></script>
		<script src="js/vue-resource.min.js"></script>
		<script>
			var vue = new Vue({
				el: '#app',
				data: {
					productH: [],
					new_prod: {
						name: '',
						pname: '',
						description: '',
						price: 0
					}
				},
				mounted: function() {
					this.gett()
				},
				methods: {
					gett: function() {
						var self = this;
						//在编译后即调用API接口取得服务器端数据
						self.$http.get('/todo/api/Productions').then(function(res) {
							self.productH = res.data.productH;
						});
					},
					addTask: function() {
						var self = this;
						self.$http.post('/todo/api/addProduction', {
							pname: self.new_prod.pname,
							description: self.new_prod.description,
							price: self.new_prod.price
						}).then(function(res) {
							self.productH = res.data.productH;
						});
					},
					deleteTask: function(id) {
						var self = this;
						self.$http.post('/todo/api/deleteProduction', {
							id: id
						}).then(function(res) {
							self.productH = res.data.productH;
							alert('购买成功')
						});
					}
				}
			})
		</script>
	</body>

</html>