<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />

		<title>登录</title>

		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="css/style2.css" rel="stylesheet">
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<script src="js/bootstrap.min.js"></script>

	</head>

	<body class="single-page">
		<div id="app" v-cloak>
		<div class="wrap-body">
			<div id="intro">
				<span class="line-1">！这里是！</span>
				<span class="line-2">校园论坛</span>
				<span class="line-3">在这里可以看到一些校园内的问题</span>
				<span class="line-4"><a href="#">Archtext.js</a></span>
			</div>

			<header id="page-header">
				<nav id="menu" class="navbar">
					<div class="container">
						<div class="row">
							<div class="navbar-header"><span id="heading" class="visible-xs">选项</span>
								<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
							</div>
							<div class="collapse navbar-collapse navbar-ex1-collapse">
								<ul class="nav navbar-nav">
									<li>
										<a href="/">主页</a>
									</li>
									<li>
										<a href="single1">介绍</a>
									</li>
									<li class="active">
										<a href="login">登录</a>
									</li>
									<li>
										<a href="regist">注册</a>
									</li>
									<li>
										<a href="communityHt">评论区</a>
									</li>
									<li>
										<a href="productHt">二手市场区</a>
									</li>
									<li>
										<a>当前用户：{{ loginN[0].lname }}</a>
									</li>
									<li>
										<a href="/logout">登出</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</header>

		<div id="page-content" class="container">
			<div class="row">
				<section class="box-content box-2 box-style-0">
					<div class="flex-box no-gutter">
						<div class="col-sm-12">
							<div class="box-text">
								<div class="box-text-inner pd-exlarge-lg pd-small-xs">
									<div class="heading">
										<h2>请登录</h2>
										<a href="myZhuye.html"><h3>回到个人主页</h3></a>
									</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" name="name" id="name" placeholder="账号" v-model="new_login.name" />
												</div>
												<div class="form-group">
													<input type="text" class="form-control" name="email" id="email" placeholder="密码" v-model="new_login.passwor" />
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-skin" @click="login">登录</button>	
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
			<footer id="page-footer" class="footer-contact">
				<div class="wrap-footer container">
					<div class="row">
						<div class="flex-box no-gutter">
							<div class="col-lg-12">
								<div class="contact-info">
									<a href="#" class="show-info-link"><i class="fa fa-info"></i> Show info</a>
									<div id="map" style="height: 550px;"></div>
									<address class="contact-info-wrapper">
									<ul class="list-unstyled">
										<li class="contact-group">
										  <span class="adr-heading">地址</span>
										  <span class="adr-info">----</span>
										</li>
										<li class="contact-group">
										  <span class="adr-heading">电子邮件</span>
										  <span class="adr-info">----</span>
										</li>
									</ul>
									<ul class="list-unstyled">
										<li class="contact-group">
										  <span class="adr-heading">电话</span>
										  <span class="adr-info">----</span>
										</li>
										<li class="contact-group">
										  <span class="adr-heading">手机</span>
										  <span class="adr-info">----</span>
										</li>
									</ul>                  
								</address>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-footer">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<p>2020</p>
							</div>
							<div class="col-md-3">
								<ul class="list-inline quicklinks">
									<li>
										<a href="#">隐私政策</a>
									</li>
									<li>
										<a href="#">使用条款</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>

		</div>
</div>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/vue-resource.min.js"></script>
		<script src="js/axios.min.js"></script>
		<script src="js/arctext.min.js"></script>
		<script>
			$(document).ready(function() {
				$(".line-2").arctext({
					radius: 400
				});
			});
			var login = new Vue({
				el: '#app',
				data: {
					loginDa: [],
					loginN: [],
					new_login: {
						name: '',
						passwor: '',
						status: ''
					},
				},
				mounted: function() {
					this.get()
				},
				methods: {
					login: function() {
						axios.post('/todo/api/loginApi', {
							name: this.new_login.name,
							passwor: this.new_login.passwor
						}).then(function(response) {
							console.log(response.status)
							// 其实是应该走后台路由
							if(parseInt(response.status) === 200) {
								alert('响应成功，跳转中')
								window.location.href = '/login'
							}
						}).catch(function(error) {
							console.log(error.response)
						})
					},
					get: function() {
						var self = this;
						//在编译后即调用API接口取得服务器端数据
						self.$http.get('/todo/api/getLoginApi').then(function(res) {
							self.loginN = res.data.loginnName;
						}, function() {
							console.log('请求失败处理');
						});
					}
				}
			})
		</script>

	</body>

</html>