<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />

		<title>二手市场</title>

		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

		<link href="css/style2.css" rel="stylesheet">
		<link rel="stylesheet" href="css/lightbox.css">
		<link rel="stylesheet" href="css/productCss.css">
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	</head>

	<body class="single-page">
		<div class="wrap-body">

			<div id="intro">
				<span class="line-1">！这里是！</span>
				<span class="line-2">校园论坛</span>
				<span class="line-3">在这里可以看到一些校园内的问题</span>
				<span class="line-4"><a href="#">Archtext.js</a></span>
			</div>

			<header id="page-header">

				<nav id="menu" class="navbar">
					<div class="container">
						<div class="row">
							<div class="navbar-header"><span id="heading" class="visible-xs">Categories</span>
								<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
							</div>
							<div class="collapse navbar-collapse navbar-ex1-collapse">
								<ul class="nav navbar-nav">
									<li>
										<a href="lunIndex.html">主页</a>
									</li>
									<li>
										<a href="single.html">介绍</a>
									</li>
									<li>
										<a href="login.html">登录注册</a>
									</li>
									<li>
										<a href="regist.html">注册</a>
									</li>
									<li>
										<a href="communityHt.html">评论区</a>
									</li>
									<li class="active">
										<a href="productHt.html">二手市场区</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</header>

			<div id="page-content" class="container">
				<div class="row">

					<article class="single-post">
						<div class="wrap-post pd-exlarge-sm pd-small-xs">
							<div class="entry-header text-center">
								<h1 class="entry-title">二手市场</h1>
								<span class="entry-meta">
								<ul class="list-inline link">
									<li>By <a href="#">admin</a></li>
									<li><a href="#">2020年7月5日</a></li>
									<li><a href="#">评论</a></li>
								</ul>
							</span>
							</div>

							<div class="entry-content">
								<div id="app" v-cloak>
									<table>
										<thead>
											<tr>
												<th>序号</th>
												<th>出售人</th>
												<th>商品名称</th>
												<th>商品描述</th>
												<th>商品价格</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="prod in productH">
												<td>{{ prod.id }}</td>
												<td>{{ prod.name }}</td>
												<td>{{ prod.pname }}</td>
												<td>{{ prod.description }}</td>
												<td>{{ prod.price }}</td>
												<td>
													<button @click="deleteTask(prod.id)">购买</button>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="box">
										<br />
										<p>商品名称：<input type="text" v-model="new_prod.pname"></p>
										<p>商品描述：<input type="text" v-model="new_prod.description"></p>
										<p>商品价格：<input type="number" v-model="new_prod.price"></p>
										<button @click="addTask">确认发表商品</button>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
			<footer id="page-footer" class="footer-contact">
				<div class="wrap-footer container">
					<div class="row">
						<div class="flex-box no-gutter">

							<div class="col-lg-12">
								<div class="contact-info">
									<div id="map" style="height: 550px;"></div>
									<address class="contact-info-wrapper">
									<ul class="list-unstyled">
										
										<li class="contact-group">
										  <span class="adr-heading">地址</span>
										  <span class="adr-info">----</span>
										</li>
										
										<li class="contact-group">
										  <span class="adr-heading">电子邮件</span>
										  <span class="adr-info">----</span>
										</li>
									</ul>
									<ul class="list-unstyled">
										
										<li class="contact-group">
										  <span class="adr-heading">电话</span>
										  <span class="adr-info">----</span>
										</li>
										
										<li class="contact-group">
										  <span class="adr-heading">手机</span>
										  <span class="adr-info">----</span>
										</li>
									</ul>                  
								</address>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-footer">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<p>Copyright 2020</p>
							</div>

							<div class="col-md-3">
								<ul class="list-inline quicklinks">
									<li>
										<a href="#">隐私政策</a>
									</li>
									<li>
										<a href="#">使用条款</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>

		</div>

		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/main.js"></script>

		<script src="js/bootstrap.min.js"></script>

		<script src="js/arctext.min.js"></script>
				<script src="js/vue.js"></script>
		<script src="js/vue-resource.min.js"></script>
		<script>
			$(document).ready(function() {
				$(".line-2").arctext({
					radius: 400
				});
			});
			var vue = new Vue({
				el: '#app',
				data: {
					productH: [],
					new_prod: {
						name: '',
						pname: '',
						description: '',
						price: 0
					}
				},
				mounted: function() {
					this.gett()
				},
				methods: {
					gett: function() {
						var self = this;
						//在编译后即调用API接口取得服务器端数据
						self.$http.get('/todo/api/Productions').then(function(res) {
							self.productH = res.data.productH;
						});
					},
					addTask: function() {
						var self = this;
						self.$http.post('/todo/api/addProduction', {
							pname: self.new_prod.pname,
							description: self.new_prod.description,
							price: self.new_prod.price
						}).then(function(res) {
							self.productH = res.data.productH;
						});
					},
					deleteTask: function(id) {
						var self = this;
						self.$http.post('/todo/api/deleteProduction', {
							id: id
						}).then(function(res) {
							self.productH = res.data.productH;
							alert('购买成功')
						});
					}
				}
			})
		</script>

	</body>

</html>